.Resources .Content .Suggested-Resources {
    display: grid;
    grid-template-columns: minmax(100px, 20%) 1fr;
    margin: .8rem 0;
    grid-gap: 1.5rem;
}

.Suggested-Resources .Year {
    text-align: right;
}

.Resources .Text {
    margin-bottom: .55rem;
}

.Resources a {
    color: $appColor;
}
  
.Resources a:hover {
    color: blue;
}

@media screen and (max-width: 480px) {

    .Resources {

        .Day {
            margin: 0;
            padding: .25rem;
        }

        .Content .Suggested-Resources {
            grid-template-columns: minmax(65px, 15%) 1fr;
        }

        .Resources .Text {
            margin-bottom: .3rem;
        }
    }
}
