.Schedule .Content .Text {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: .3rem 0;
    grid-gap: 1.5rem;
}

.Day {
    padding: 0 1.75rem .25rem 1.75rem;
    margin: auto 5rem;
}

.Schedule .Content .Day .Text:nth-child(2) {
    border-top: .5px solid $appBorderColor;
    padding-top: .25rem;
}

.Schedule .Content .Day:nth-child(1) {
    margin-top: .8rem;
}

@media screen and (max-width: 480px) {

    .Schedule {

        .Day {
            margin: 0;
            padding: .25rem;
        }

        .Content .Text {
            grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
            grid-gap: 1rem;
        }
    }
}
