body {
  color: $appColor;
  background-color: $appBackground;
}

// React app mounting point
#root {
  // width: 100vw;
  // height: 100vh;
}

// Wrapper
.Content {
  margin: auto 18rem;
  padding: $appPadding*6 0;
  min-height: 60vh;
}

.Text h4,
.Text h3,
.Text h5 {
  text-align: right;
  margin: 0;
}

img {
  width: auto;
  max-height: 15vh;
}

@media screen and (min-width: 1600px) {
    
  .Content {
    margin: auto 25rem;
  }
}


@media screen and (max-width: 480px) {
    
  .Content {
    margin: auto 1rem;
    min-height: 65vh;
  }
}