body {
  color: $appColor;
  background-color: $appBackground;
}

// Wrapper
.Content {
  margin: auto 18rem;
  padding: $appPadding*6 0;
  min-height: 60vh;
}

.Inner-Content {
  padding-left: 1.75rem;
  margin-left: 5rem;
}

.Text h4,
.Text h3,
.Text h5 {
  text-align: right;
  margin: 0;
}

img {
  width: auto;
  max-height: 15vh;
}

@media screen and (min-width: 1600px) {
    
  .Content {
    margin: auto 25rem;
  }
}


@media screen and (max-width: 480px) {
    
  .Content {
    margin: auto 1.5rem;
    min-height: 60vh;
    padding: 2rem 0;
  }

  .Inner-Content {
    margin-left: 0;
    padding-left: 0;
  }
}