// Typography styles 
// Imports
@import url("https://p.typekit.net/p.css?s=1&k=kzk4zpy&ht=tk&f=10880.10881.10882.10884.10885.32874.32875&a=87836698&app=typekit&e=css");

@font-face {
  font-family:"futura-pt";
  src:url("https://use.typekit.net/af/1eb35a/000000000000000000010090/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/1eb35a/000000000000000000010090/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/1eb35a/000000000000000000010090/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:500;
  font-stretch:normal;
}

@font-face {
  font-family:"futura-pt";
  src:url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:700;
  font-stretch:normal;
}

@font-face {
  font-family:"futura-pt";
  src:url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/a?subset_id=2&fvd=i7&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:700;
  font-stretch:normal;
}

@font-face {
  font-family:"futura-pt";
  src:url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:400;
  font-stretch:normal;
}

@font-face {
  font-family:"futura-pt";
  src:url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/a?subset_id=2&fvd=i4&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:400;
  font-stretch:normal;
}

@font-face {
  font-family:"futura-pt-bold";
  src:url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:700;
  font-stretch:normal;
}

@font-face {
  font-family:"futura-pt-bold";
  src:url("https://use.typekit.net/af/72575c/00000000000000003b9af1e5/27/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/72575c/00000000000000003b9af1e5/27/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/72575c/00000000000000003b9af1e5/27/a?subset_id=2&fvd=i7&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:700;
  font-stretch:normal;
}

.tk-futura-pt { font-family: "futura-pt",sans-serif; }
.tk-futura-pt-bold { font-family: "futura-pt-bold",sans-serif; }

body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  // letter-spacing: 0.1em;
}

// disable selection in the UI
* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

// emable in the help 
.formatted * {
  -webkit-touch-callout:default;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
}

// base typography
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 1.4rem;
  margin-top: 0;
  line-height: 1.3;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

h4 {
  font-size: .95rem;
  font-weight: 700;
}

h5 {
  font-size: .9rem;
  font-weight: 700;
}

p {
  line-height: 1.3;
}

b, strong {
  font-weight: bold;
}

a {
  color: $appColorSecondary;
  text-decoration: none;
}

a:focus, a:hover {
  color: $appColorFocus;
}

a.active {
  color: $appColor;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  
  h4 {
    font-size: .9rem;
  }

  h5 {
    font-size: .8rem;
  }
}