$baseFont: 'futura-pt', sans-serif;
$baseFontSize: 14px;
$baseLineHeight: 1.4em;

$topNavHeight: 4rem;
$queryColWidth: 20rem;
$viewColWidth: 16rem;

$appMargin: 0.625rem;
$appPadding: 0.625rem;
$appBorderRadius: 0.375rem;
$appIndent: 1.5rem;

$appColor: #000000;
$appColorSecondary: #919295;
$appColorFocus: #D97E43;

$appBackground: #ffffff;
$appBorderColor: #4e5155;
